{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="w3-text-teal">Rejestracja</h1>
    <div class="content-section">
        <form method="POST">
        {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Dołącz dziś</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zarejestruj się</button>
            </div>
        </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Posiadasz już konto? <a class="ml-2" href="/logowanie">Zaloguj się</a>
        </small>
    </div>
    </div>
{% endblock %}