{% extends 'base.html' %}
{% block content %}
    <h1 class="w3-text-teal">{{ level }}</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="header">
              <div class="wpm">
                <div class="header_text">WPM</div>
                <div class="curr_wpm">100</div>
              </div>
              <div class="cpm">
                <div class="header_text">CPM</div>
                <div class="curr_cpm">100</div>
              </div>
              <div class="errors">
                <div class="header_text">Errors</div>
                <div class="curr_errors">0</div>
              </div>
              <div class="timer">
                <div class="header_text">Time</div>
                <div class="curr_time">{{ level.time }}s</div>
              </div>
              <div class="accuracy">
                <div class="header_text">% Accuracy</div>
                <div class="curr_accuracy">100</div>
              </div>
            </div>
            <div class="quote">
              Click on the area below to start the game.
            </div>
            <label for="input_level"></label>
            <input
                    type="text"
                    class="input_area"
                    id="input_level"
                    placeholder="start typing here..."
                    oninput="processCurrentText()"
                    onfocus="startGame('level')"
            >
            <button class="restart_btn"
              ondblclick="resetValues()">
              Restart
            </button>
        </div>
    </article>

    <!-- link the JavaScript file here -->
    <script>
        function getText() {
            return "{{ level.text }}".split(". ");
        }

        function getTime() {
            return "{{ level.time }}";
        }
    </script>
    <script src="../../../styles/game.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% endblock %}