{% extends 'base.html' %}
{% block content %}
    <h1 class="w3-text-teal">About</h1>
    <article class="media content-section">
     <div class="media-body">
         <h5>

             <p><mark>TypeRacer is a game created to practice writing quickly.</mark></p>

             <div class="border-top pt-3"></div>
         </h5>
         <h6>
            <p> You can play offline, then your score will not be saved.
           You can also play online then your score will be saved. The better result you get, the higher your ranking position will be.
           In addition, we have something more for the most persistent players - achievements.
      Depending on the number of races, average cpm, average wpm and other things, you can achieve ranks. </p>
         <p>There is nothing to wait for!</p>

</h6>
         <div class="border-top pt-3">
        <small class="text-muted">
            Ready? <a class="ml-2" href="/typeracer">Let's get to race!</a>
        </small>
    </div>
     </div>
    </article>
{% endblock %}