{% extends 'base.html' %}
{% block content %}
    <h1 class="w3-text-teal">ChatBox</h1>
    <form class='my-ajax-form' method='POST' action='.' data-url='{{ request.build_absolute_uri|safe }}'>
        {% csrf_token %}
        {{form.as_p|safe}}
        <button type='submit'>Submit</button>
    </form>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    var $myFrom = $(".my-ajax-form")
    $myForm.submit(function(event){
        event.preventDefault()
        var $formData = $(this).serialize()
        var $endpoint = $myForm.attr("data-url") || window.location.href
        $.ajax({
            method: "POST",
            url: $endpoint,
            data: $formData,
            success: handleFormSuccess,
            error: handleFormError,
        })
    })

    function handleFormSuccess(data, textStatus, jqXHR){
        console.log(data)
        console.log(textStatus)
        console.log(jqXHR)
        $myForm[0].reset(); // reset form data
    }

    function handleFormError(jqXHR, textStatus, errorThrown){
        console.log(jqXHR)
        console.log(textStatus)
        console.log(errorThrown)
    }
    })
})

</script>


{% endblock %}

