{% extends 'base.html' %}
{% block content %}
    <h1 class="w3-text-teal">TypeRacer</h1>
      <article class="media content-section">
       {% if user.is_authenticated %}
     <div class="media-body">
        <div class="header">
          <div class="wpm">
            <div class="header_text">WPM</div>
            <div class="curr_wpm">100</div>
          </div>
          <div class="cpm">
            <div class="header_text">CPM</div>
            <div class="curr_cpm">100</div>
          </div>
          <div class="errors">
            <div class="header_text">Errors</div>
            <div class="curr_errors">0</div>
          </div>
          <div class="timer">
            <div class="header_text">Time</div>
            <div class="curr_time">60s</div>
          </div>
          <div class="accuracy">
            <div class="header_text">% Accuracy</div>
            <div class="curr_accuracy">100</div>
          </div>
        </div>

        <div class="quote">
          Kliknij na obszar poniżej by rozpocząć grę.
        </div>
        <textarea class="input_area"
          placeholder="start typing here..."
          oninput="processCurrentText()"
          onfocus="startGame()"
          >

        </textarea>
        <button class="restart_btn"
          ondblclick="resetValues()">
          Restart
        </button>
     </button>
</div>
           </article>
         {% else %}
     <small>Musisz być zalogowany by zagrać online</small>
    <div class="border-top pt-3">

        <small class="text-muted">
             <a class="ml-2" href="/logowanie">Zaloguj się</a>
        </small>
    </div>
         {% endif %}

      <!-- link the JavaScript file here -->
      <script src="../styles/game.js">

      </script>

      <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% endblock %}